@import url("./styles/index.css");

/* css kodlarınız buraya gelecek */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  padding: 40px 93px;
}
.hamburger {
  display: none;
}
.nav-logo {
  color: var(--green-color);
  font-weight: 800;
  font-size: var(--font-size-logo);
}
.navbar-left {
  display: flex;
  gap: 61px;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 55px;
}
.nav-link {
  color: var(--white-color);
  font-size: var(--font-size-base);
}
.nav-link:hover {
  opacity: 0.7;
}
.navbar-right button {
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 15px 28px;
  font-weight: 600;
}
