@import url("./styles/index.css");

/* css kodlarınız buraya gelecek */

/* miray -OC-16-17 - Implement the More Features Section start */

.m-container {
  display: flex;
  max-width: 1181px;
  margin: 50px auto;
  padding-left: 20px;
  background-color: var(--white-color);
}

.m-left {
  max-width: 553px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.m-left img {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: block;
  object-fit: cover;
}

.m-right {
  max-width: 553px;
  padding: 40px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-right h2 {
  opacity: 1;
  color: var(--yellow-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-medium);
  font-weight: 500;
  margin-bottom: 25px;
}

.m-right h3 {
  margin-bottom: 20px;
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-size: var(--font-size-medium-header);
}

.m-right p {
  color: var(--gray-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-medium);
  line-height: 1.6;
  margin-bottom: 30px;
}

.m-right button {
  padding: 12px 24px;
  background-color: rgba(38, 187, 116, 1);
  max-width: 146px;
  height: 49px;
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.m-right button:hover {
  opacity: 0.8;
}

/* responsive */
@media (max-width: 768px) {
  .m-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .m-left,
  .m-right {
    flex: 1 1 100%;
  }

  .m-right {
    padding: 20px;
    margin-top: 10px;
  }

  .m-right h2 {
    font-size: 22px;
  }

  .m-right h3 {
    font-size: 18px;
  }

  .m-right p {
    font-size: 16px;
  }

  .m-right button {
    font-size: 15px;
    padding: 10px 20px;
  }
}

/* miray -OC-16-17 - Implement the More Features Section end */
