@import url("./styles/index.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/* css kodlarınız buraya gelecek */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  padding: 40px 93px;
}
.hamburger {
  display: none;
}
.nav-logo {
  color: var(--green-color);
  font-weight: 800;
  z-index: 2;
  position: relative;
  font-size: var(--font-size-logo);
}
.navbar-left {
  display: flex;
  gap: 61px;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 55px;
  align-items: center;
}
.nav-link {
  color: var(--white-color);
  font-size: var(--font-size-base);
  font-family: var(--secondary-font);
}
.nav-link:hover {
  opacity: 0.7;
}
.navbar-right button {
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 15px 28px;
  font-weight: 600;
}
.hamburger-icon {
  color: var(--white-color);
  font-size: var(--font-size-logo);
}
.hamburger.hamburger-active {
  display: block;
}
.nav-menu-navbar-right {
  opacity: 0;
}

@media (max-width: 900px) {
  .navbar {
    padding: 40px 24px;
  }
  .nav-menu {
    display: grid;
    gap: 30px;
    position: absolute;
    transform: translateY(-120%);
    left: 0;
    right: 0;
    background-color: var(--black-color);
    text-align: center;
    transition: 0.3s ease;
    padding: 30px;
    opacity: 0;
  }
  .nav-menu.active {
    transform: translateY(15%);
    transition: 0.3s ease;
    display: grid;
    opacity: 1;
    justify-content: center;
  }
  .nav-menu-navbar-right {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 15px 28px;
    font-weight: 600;
    opacity: 1;
  }
  .navbar-right button {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
