@import url("./styles/index.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

/* css kodlarınız buraya gelecek */

/* can-why-us-section start */
section {
  padding: 40px 93px;
}
.why-us-section {
  display: grid;
  justify-content: center;
  gap: 40px;
}
.why-us-header {
  display: grid;
  text-align: center;
  gap: 20px;
  padding: 30px;
  margin: auto;
  max-width: 720px;
}
.why-us-top-header {
  color: var(--green-color);
  font-weight: 500;
  font-size: var(--font-size-primary-header);
  font-family: var(--primary-font);
}
.why-us-bottom-header {
  color: var(--black-color);
  font-weight: 600;
  font-size: var(--font-size-medium-header);
}
.why-us-text {
  font-weight: 400;
  color: var(--gray-color);
  font-size: var(--font-size-primary-header);
}
.why-us-content {
  padding: 30px;
  display: flex;
  gap: 160px;
  justify-content: center;
  text-align: center;
}
.stat-item {
  display: grid;
  gap: 10px;
}
.stat-value {
  color: var(--green-color);
  font-size: var(--font-size-stats);
  font-weight: 700;
}
.stat-text {
  font-weight: 400;
  font-size: var(--font-size-primary-header);
  color: var(--gray-color);
  font-family: var(--primary-font);
}

/* can-oc-14 future-section start */
.features-container {
  display: grid;
  gap: 46px;
}
.features-header {
  display: grid;
  gap: 20px;
  max-width: 670px;
}
.features-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.features-content-left {
  display: grid;
  max-width: 517px;
  gap: 55px;
}
.features-content-image {
  background-color: var(--green-color);
  width: 24px;
  height: 24px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.features-content-header {
  display: flex;
  gap: 20px;
  align-items: center;
}
.features-content-content {
  display: grid;
  gap: 10px;
}
.features-content-content-header {
  color: var(--black-color);
  font-weight: 600;
  font-size: var(--font-size-small-header);
}
.features-content-paragraph {
  font-family: var(--primary-font);
  color: var(--gray-color);
}
.features-content-right img {
  width: 100%;

  object-fit: cover;
  max-height: 600px;
}
@media (max-width: 1024px) {
  .features-content {
    display: grid;
  }
  .features-content-right img {
    width: 100%;
    border-radius: 8px;
    max-height: 300px;
  }
  .features-content-left {
    max-width: 100%;
  }
  section {
    padding: 24px;
  }
}

/* can-oc-14 future-section end */

@media (max-width: 1024px) {
  .why-us-content {
    gap: 20px;
  }
  .why-us-section {
    gap: 0;
  }
}

@media (max-width: 420px) {
  .why-us-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* can-why-us-section end */

/* <!-- Can-oc-4-implement-navbar Start --> */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  padding: 40px 93px;
}
.hamburger {
  display: none;
}
.nav-logo {
  color: var(--green-color);
  font-weight: 800;
  z-index: 2;
  position: relative;
  font-size: var(--font-size-logo);
}
.navbar-left {
  display: flex;
  gap: 61px;
  align-items: center;
}
.nav-menu {
  display: flex;
  gap: 55px;
  align-items: center;
}
.nav-link {
  color: var(--white-color);
  font-size: var(--font-size-base);
  font-family: var(--secondary-font);
}
.nav-link:hover {
  opacity: 0.7;
}
.navbar-right button {
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 15px 28px;
  border: none;
  font-weight: 600;
}
.hamburger-icon {
  color: var(--white-color);
  font-size: var(--font-size-logo);
}
.hamburger.hamburger-active {
  display: block;
}
.nav-menu-navbar-right {
  display: none;
  border: none;
}
.hamburger-button {
  border: none;
}

@media (max-width: 900px) {
  .navbar {
    padding: 40px 24px;
  }
  .nav-menu {
    display: grid;
    gap: 30px;
    position: absolute;
    transform: translateY(-120%);
    top: -100%;
    right: 0;
    background-color: var(--black-color);
    text-align: center;
    transition: 0.3s ease;
    padding: 30px;
    width: 100%;
  }
  .nav-menu.active {
    transform: translateY(15%);
    transition: 0.3s ease;
    display: grid;
    width: 100%;
    top: 45px;
    justify-content: center;
  }
  .nav-menu-navbar-right {
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 15px 28px;
    font-weight: 600;
    display: block;
  }
  .navbar-right button {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
/* <!-- Can-oc-4-implement-navbar End --> */

/* <!-- Can-oc-6-implement-Hero Section Start --> */

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--black-color);
  margin: auto;
}

.hero-content {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--white-color);
  align-items: start;
}
.hero-content h1 {
  padding-right: 150px;
  font-size: var(--font-size-large-header);
}
.hero-content p {
  font-size: var(--font-size-large-content);
  color: rgba(192, 192, 192, 1);
  max-width: 856px;
  line-height: 30px;
  font-family: var(--primary-font);
}

.hero-content .started-button {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 10px 18px;
  border: none;
  border-radius: 30px;
  font-family: var(--primary-font);
}
.email-content {
  display: flex;
  gap: 12px;
}
.email-content input {
  padding: 15.5px 10px;
  background-color: white;
  border-radius: 8px;
  width: 363px;
}
.email-content button {
  background-color: var(--green-color);
  padding: 15px 28px;
  border-radius: 8px;
  color: var(--white-color);
  font-weight: 600;
  border: none;
}

.hero-images img {
  width: 100%;
  border-radius: 8px;
}
@media (max-width: 900px) {
  .hero-content h1 {
    padding-right: 0%;
    font-size: var(--font-size-medium-header);
  }
  .hero-content p {
    font-size: var(--font-size-base);
  }
  .email-content {
    display: grid;
  }
  .email-content input {
    width: 100%;
  }
}
/* <!-- Can-oc-6-implement-Hero Section End --> */

/* <!-- Can-oc-8-Create a Structure for Services Card Start --> */
.structure-header {
  max-width: 500px;
  display: grid;
  gap: 20px;
}
.structure-header h6 {
  font-size: var(--font-size-primary-header);
  color: var(--green-color);
  font-family: var(--primary-font);
  font-weight: 500;
}
.structure-header h1 {
  font-weight: 600;
  font-size: var(--font-size-medium-header);
  color: var(--black-color);
}
.structure-container {
  display: grid;
  gap: 40px;
}
.structure-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kutu */
  gap: 20px;
}
.structure-card {
  background-color: rgba(248, 249, 251, 1);
  border: 1px solid rgba(223, 225, 231, 1);
  border-radius: 8px;
  padding: 25px 35px;
  display: grid;
  gap: 20px;
}
.structure-card img {
  background-color: var(--green-color);
  border-radius: 50%;
  padding: 15px;
}
.structure-card h2 {
  color: var(--black-color);
  font-size: var(--font-size-small-header);
  font-weight: 600;
}
.structure-card p {
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  color: var(--gray-color);
  line-height: 24px;
}

@media (max-width: 1000px) {
  .structure-content {
    grid-template-columns: repeat(2, 1fr); /* 3 kutu */
  }
}
@media (max-width: 500px) {
  .structure-content {
    grid-template-columns: repeat(1, 1fr); /* 3 kutu */
  }
}
/* <!-- Can-oc-8-Create a Structure for Services Card End --> */
/* <!-- Can-oc-26-29-implement-Login-signUp Start --> */
.form {
  display: flex;
}
.form-title {
  font-size: var(--font-size-header);
  color: var(--green-color);
  font-weight: 800;
}
.form-image {
  width: 70%;
  min-height: 100vh;
}
.form-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-container {
  display: grid;
  align-items: center;
  width: 30%;
  align-content: center;
  padding: 40px;
  gap: 48px;
}
#formContent {
  display: grid;
  gap: 24px;
}
#signup-form {
  display: grid;
  gap: 24px;
}
.field {
  border: none;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  font-size: var(--font-size-small);
  background-color: #eeeeee;
}
.password-wrapper input {
  border: none;
  border-radius: 8px;
  padding: 16px;
  background-color: #eeeeee;
  width: 100%;
  font-size: var(--font-size-small);
}
.password-toggle-icon {
  position: absolute;
  top: 30%;
  border: none;
  right: 5%;
}
.password-wrapper {
  position: relative;
}
.form-options {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-xsmall);
  align-items: center;
}
.form-options label {
  display: flex;
  align-items: center;
  font-family: var(--third-font);
  gap: 5px;
}
.forgot-link {
  color: var(--green-color);
  font-family: var(--primary-font);
}
.submit-btn {
  background-color: var(--green-color);
  border: none;
  color: var(--white-color);
  padding: 10px 20px;
  font-weight: 600;
  font-family: var(--primary-font);
}
.google-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  color: var(--white-color);
  font-size: var(--font-size-xsmall);
  background-color: rgba(51, 51, 51, 1);
  font-family: var(--primary-font);
  border: none;
}
.toggle-link-container {
  font-size: var(--font-size-xsmall);
  display: flex;
  justify-content: center;
  gap: 8px;
}
.toggle-link {
  color: var(--green-color);
}
#login-form {
  display: grid;
  gap: 24px;
}
/* Switch butonunun dış kapsayıcısı */
.switch-container {
  position: relative;
  display: inline-block;
  width: 45px; /* Genişlik */
  height: 20px; /* Yükseklik */
}

/* Arka plan */
.switch-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Kapalı durumdaki renk */
  transition: 0.4s;
  border-radius: 34px; /* Yuvarlak kenarlar */
}

/* Yuvarlak buton (handle) */
.switch-label::before {
  position: absolute;
  content: "";
  height: 16px; /* Buton yüksekliği */
  width: 16px; /* Buton genişliği */
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%; /* Tamamen yuvarlak */
}

/* Gizli checkbox */
.switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Checkbox seçildiğinde (açık olduğunda) yapılacaklar */
.switch-checkbox:checked + .switch-label {
  background-color: #2196f3; /* Açık durumdaki renk (mavi) */
}

.switch-checkbox:checked + .switch-label::before {
  /* Yuvarlak butonu sağa kaydır */
  transform: translateX(26px);
}

/* Durum metni için stil */
#durum-metni {
  display: flex;
  gap: 8px;
}
@media (max-width: 900px) {
  .form-container {
    gap: 20px;
  }
  .form {
    display: grid;
  }
  .form-image {
    width: 100%;
    display: none;
  }
  .form-container {
    width: 100%;
  }
  html,
  body {
    overflow-y: auto;
  }
  #form-logo,
  .form-title {
    text-align: center;
  }
}
/* <!-- Can-oc-26-29-implement-Login-signUp End --> */

/* <!-- OC-32-implement-Contact Section Start --> */
.contact-container {
  gap: 60px;
  display: grid;
}
.contact-header {
  text-align: center;
  display: grid;
  gap: 20px;
}
.contact-top-title {
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--green-color);
  font-size: var(--font-size-primary-header);
}
.contact-main-title {
  font-weight: 600;
  color: var(--black-color);
  font-size: var(--font-size-medium-header);
}
.contact-content {
  display: grid;
  text-align: center;
  width: 100%;
}
.contact-content-container {
  display: grid;
  gap: 40px;
  width: 100%;
}
.contact-content-text input {
  width: 49%;
}
.contact-section {
  padding: 40px 93px;
}
.contact-content-text input {
  width: 49%;
  font-family: var(--primary-font);
  border: 1px solid rgba(202, 202, 202, 1);
  padding: 10px;
  border-radius: 8px;
}
.contact-content-text {
  gap: 40px;
  display: flex;
}
.contact-content-message {
  width: 100%;
}
.contact-content-message textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(202, 202, 202, 1);
  padding: 10px;
  font-family: var(--primary-font);
  height: 150px;
}
.contact-button {
  border-radius: 8px;
  color: var(--white-color);
  background-color: var(--green-color);
  padding: 15px 28px;
  border: none;
  display: inline;
}

@media (max-width: 600px) {
  .contact-content-text {
    display: grid;
    gap: 20px;
  }
  .contact-content-text input {
    width: 100%;
  }
  .contact-section {
    padding: 24px;
  }
  .contact-button {
    width: 100%;
  }
  .contact-content-container {
    gap: 20px;
  }
}
/* <!-- OC-32-implement-Contact Section End --> */
/* miray -OC-16-17 - Implement the More Features Section start */

.m-container {
  display: flex;
  max-width: 1181px;
  margin: 50px auto;
  padding-left: 20px;
  background-color: var(--white-color);
}

.m-left {
  max-width: 553px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.m-left img {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: block;
  object-fit: cover;
}

.m-right {
  max-width: 553px;
  padding: 40px 20px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.m-right h2 {
  opacity: 1;
  color: var(--yellow-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-medium);
  font-weight: 500;
  margin-bottom: 25px;
}

.m-right h3 {
  margin-bottom: 20px;
  color: var(--black-color);
  font-family: var(--secondary-font);
  font-size: var(--font-size-medium-header);
}

.m-right p {
  color: var(--gray-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-medium);
  line-height: 1.6;
  margin-bottom: 30px;
}

.m-right button {
  padding: 12px 24px;
  background-color: rgba(38, 187, 116, 1);
  max-width: 146px;
  height: 49px;
  color: var(--white-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-base);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.m-right button:hover {
  opacity: 0.8;
}

/* responsive */
@media (max-width: 960px) {
  .m-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .m-left,
  .m-right {
    flex: 1 1 100%;
  }

  .m-right {
    padding: 20px;
    margin-top: 10px;
  }

  .m-right h2 {
    font-size: 22px;
  }

  .m-right h3 {
    font-size: 18px;
  }

  .m-right p {
    font-size: 16px;
  }

  .m-right button {
    font-size: 15px;
    padding: 10px 20px;
  }
}

/* miray -OC-16-17 - Implement the More Features Section end */
