@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
html,
body {
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
input,
button,
textarea,
select {
  font-size: inherit;
  color: inherit;
  background: none;
  outline: none;
}
input {
  border: 1px solid var(--gray-color);
}
button {
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
