:root {
  /* Color Variables */
  --green-color: rgba(38, 187, 116, 1);
  --white-color: rgba(255, 255, 255, 1);
  --gray-color: rgba(192, 192, 192, 1);
  --black-color: rgba(0, 0, 0, 1);

  /* Font Variables */
  --primary-font: "Inter", "sans-serif";
  --secondary-font: "Plus Jakarta Sans", "sans-serif";

  /* Font Sizes */
  --font-size-logo: 25px;

  --font-size-large: 24px;
  --font-size-large-content: 20px;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 12px;

  --font-size-large-header: 50px;
  --font-size-white-header: 40px;
  --font-size-header: 36px;
  --font-size-medium-header: 32px;
  --font-size-small-header: 22px;
  --font-size-primary-header: 18px;
}
